.result {
    margin: 0 auto;
}

.result__title {
    /* text-align: center; */

}

.result__block {
    margin-top: 20px;
    padding: 20px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    row-gap: auto;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}

.result__answer {
    text-decoration: none;
    color: #525151;
}

.result__score {

}