.reviews {
  /* height: 500px; */
  /* padding-bottom: 50px; */
  /* padding-top: 25px; */
  background-color: white;
  display: flex;
  width: 100%;
}
.reviews-wrapper {
  margin-top: 18px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0px;
}
.reviews-title {
  padding: 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 30.4053px;
  /* line-height: 110%; */
  letter-spacing: 0.02em;
}


@media screen and (max-width: 1024px) {

  .reviews-wrapper {
    gap: 30px;
  }
}


@media screen and (max-width: 768px) {

  .reviews-wrapper {
    gap: 20px;
  }

 }

