/* Google fonts */
:root {
  --bgc: #0084BC;
  --footer-bgc: #036088;
  --text: #37373;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  scroll-behavior: smooth;
  /* font-family: var(--font-family); fonts */
  color: var(--text-color);
  background-color: var(--bgc);
  /* background-color: #00b2fe; */
  /* z-index: 10; */
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
}
p {
  color: var(--text-color);
}
a {
  text-decoration: none;
  z-index: 3000000000 !important;
}
button {
  z-index: 1000000001 !important;
}
.no-select {
  user-select: none;
}
/* Scrollbar */
body::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(255, 255, 255, .8);
  scrollbar-width: thin;
}
/* containers */
.container {
  margin: 0 auto;
  /* position: relative; */
  /* padding: 0 8%; */
  z-index: 1000000000 !important;
  width: 1400px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  z-index: 10;
}
.container-left {
  border-left: 1px solid rgb(0, 26, 255);
}
.conteiner-blue {
  border-left: 1px solid rgb(0, 26, 255);
  border-right: 1px solid rgb(0, 26, 255);
  z-index: 10;
}
.conteiner-white {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  z-index: 10;
}
/* OTHER STYLES =========================================================================================================== */
.snippet {
  font-size: 20px;
}
.toup {
  z-index: 9999999989 !important;
}
.XTranslate {
  z-index: -1;
}
/* RESPONSIVE STYLES =========================================================================================================== */

@media screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 860px) {
  .container {
    width: 790px;
  }
}

@media screen and (max-width: 768px) {
    .container {
      width: 720px;
    }
    
    
}

@media screen and (max-width: 576px) { 
  .container {
    width: 100%;
  }
}