.footer {
    background: #072649;
}
.footer__container {
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    z-index: 10;
}
.footer__logo {
    font-size: 2rem;
    color: #fff;
}
.footer__logo a {
    color: #fff;
}
.footer__socials {
    color: #fff;
}
.footer__socials h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 300;
}
.footer__links {
    display: flex;
    gap: 10px;
    height: 40px;
    align-items: center;
    /* flex-direction: column; */
}
.social-icon {
    width: 20px;
    height: 20px;
}
.footer__links-item {
    display: flex;
    color: #fff;
    height: 40px;
    align-items: center;
}
.powered {
    font-size: 11px;
    text-transform: uppercase;
}
.footer__logo hr {
    margin: 5px 0;
    height: 1px;
}



@media screen and (max-width: 576px) { 

    .footer__container  {
        flex-wrap: wrap;
    }
}