.modal-content-signup {
  position: relative;
  padding: 20px;
  border-radius: 40px 40px 2px 40px;
  width: 460px;
  height: auto;
  background-color: white;
}
.clesed {
  width: 20px;
  height: 22px;
  /* width: 100%; */
  position: absolute;
  top: 20px;
  right: 20px;
  left: auto;
}

.modal-name {
  margin-bottom: 22px;
  border: 2px solid #00638d;
  border-radius: 28.9492px;
  padding: 15px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
}

.modal-email {
  margin-bottom: 22px;
  border: 2px solid #00638d;
  border-radius: 28.9492px;
  padding: 15px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
}

.modal-password {
  margin-bottom: 22px;

  border: 2px solid #00638d;
  border-radius: 28.9492px;
  padding: 15px;

  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
}

.mt {
  margin-left: 15px;
}

.modal-hintname {
  margin-top: 60px;
}

.modal-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  /* identical to box height, or 40px */
  margin: 0 auto;
  text-align: center;
  /* letter-spacing: 0.14em; */
  color: black;
  text-align: center;
  width: max-content;
}

.modal-secure {
  font-weight: 200;
  font-size: 12px;
  line-height: 100%;
  /* or 12px */

  align-items: center;

  color: #7b7b7b;
}

.modal-reg {
  display: block;
  margin: 25px auto;
  text-align: center;
  cursor: pointer;
  width: 355px;
  height: 49.85px;
  color: white;
  background: #ff226d;
  border: 1px solid #ffffff;
  border-radius: 22px;
}

.modal-login {
  text-align: center;
  padding: 0 20px;
}

.modal.active__modal {
  display: flex;
}

/* .modal-name-surname {
  border: 2px solid #00638d;
  border-radius: 28.9492px;
  padding: 15px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
} */


@media screen and (max-width: 576px) {  

  .modal-content-signup {
    width: 90%;
  }

  .modal-reg {
    width: 100%;
  }
}