/* 
* File name: Main.css
* Author: Ananazz
* Description: Main styles
*/
.main {
  position: relative;
  overflow: hidden;
}

.main-title {
  border-radius: 30.7072px;
  padding: 15px;
  font-weight: 400;
  font-size: 26.7198px;
  text-align: center;
  color: #ffffff;
  border: 0.809691px solid #ffffff;
}

.main-wrapchik {
  margin: 0 auto;
  width: max-content;
  margin-top: 105px;
  padding-top: 35px;
}

.main-flex {
  margin-top: 40px;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
}

.main-flex-content {
  width: 640px;
}

.main-flex-content-title {
  font-weight: 700;
  font-size: 88.5951px;
  line-height: 97.19%;
  color: transparent;
  -webkit-text-stroke: 3px white;
  /* border: 3px solid #FFFFFF; */
}

.main-flex-content-text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 26.7198px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main-flex-content-btn {
  margin-top: 50px;
  margin-bottom: 90px;
  width: 342.82px;
  height: 76.08px;
  background: #ff226d;
  box-shadow: 0px 1.92598px 1.92598px rgba(0, 0, 0, 0.25);
  border-radius: 7.70392px;
  font-weight: 300;
  font-size: 36.9966px;
  line-height: 110%;
  letter-spacing: 0.035em;
  color: #ffffff;
  cursor: pointer;
  transition: all .4 ease-in;
}
.main-flex-content-btn:hover {
  background: rgba(255, 34, 109, .8);
}
.main-hend {
  position: relative;
  width: 1307px;
  height: 100%;
  margin-left: 130px;
  user-select: none;
  z-index: 1000000001 !important;
}
.main-text-image__phone {
  position: absolute;
  top: -34px;
  left: 40px;
  /*height: 100%;*/
  z-index: 3;
  overflow: hidden;
  transform: scale(.9);
  user-select: none;
}
.main-text-image__circle-arrows {
  position: absolute;
  top: -10px;
  left: -180px;
  /*height: 100%;*/
  z-index: 2;
  transform: scale(.96);
  user-select: none;
  /* overflow: hidden; */
}
.main-text-image__ellipse {
  position: absolute;
  top: -120px;
  left: -380px;
  user-select: none;
  /*height: 100%;*/
  z-index: 1;
  /* overflow: hidden; */
}

@media screen and (max-width: 1420px) {
  .main-hend {
    width: 1307px;
    margin-left: 10%;
    overflow: visible;
}
}

@media screen and (max-width: 768px) { 
  .main-hend {
    display: none;
    visibility: hidden;
  }
  .main-title {
    margin-left: 55px;
    width: 35%;
    font-size: 20.7198px;
  }
  
  .main-flex-content-title {
    font-size: 70.5951px;
    line-height: 100.19%;
  }


  .main-flex-content-text {
    font-size: 21.7198px;
    font-weight: 500;
  }

  .main-title {
    width: 85%;
  } 
}


@media screen and (max-width: 576px) { 

  .main-flex {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    flex-wrap: wrap;
  }

  .main-flex-content-title {
    font-size: 2rem;
    margin-top: 20px;
  }
  .main-flex-content {
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
  .main-title {
    text-align: center;
    width: 100%;
    margin-left: 0px;
    font-size: 20.7198px;
  }

  .main-wrapchik {
    /* margin: 0 auto;  */
    width: 100%;
  }

  .main-flex-content-btn {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .main-flex-content-title {
    /*font-size: 20px;*/
    margin-top: 20px;
  }
  .main-flex-content {
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
  .main-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 20.7198px;
  }
}

@media screen and (max-width: 1024px) {

  .main-wrapchik {
    width: 100%;
  }
}

@media screen and (max-width: 860px) { 
  .main-wrapchik {
    margin-top: 70px;
  }
}

/* Mac Book Laptops */
@media (max-height: 2234px) {
  .main-title {
    border-radius: 30.7072px;
    padding: 15px;
    font-weight: 400;
    font-size: 24px;
  }
  .main-flex-content {
    /*height: auto;*/
    /*transform: scale(.9);*/
  }
  .main-flex-content-title {
    width: 100%;
    font-size: 4.4rem;
    margin-top: 20px;
  }
  .main-flex-content-text {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0.04em;
  }
  .main-flex-content-btn {
    margin: 10px 0;
    width: 312.82px;
    height: 66.08px;
    background: #ff226d;
    box-shadow: 0px 1.92598px 1.92598px rgba(0, 0, 0, 0.25);
    border-radius: 7.70392px;
    font-weight: 300;
    font-size: 2.4rem;
  }
  .main-text-image__phone {
    top: -154px;
    left: 40px;
    /*height: 100%;*/
    z-index: 3;
    overflow: hidden;
    transform: scale(.7);
  }
}