.curce {
  overflow: hidden;
  position: relative;
  /* padding-bottom: 60px; */
  /* height: 837px; */
}
.padding {
  padding-top: 53px;
  padding-bottom: 30px;
}
.curce-title {
  margin-left: 50px;
  font-weight: 700;
  font-size: 39.4181px;
  line-height: 110%;
  color: white;
}

.curce-block {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 60px;
}

.curce-img-1 {
  top: -300px;
  position: absolute;
  z-index: 1;
  user-select: none;
}

.curce-img-2 {
  position: absolute;
  z-index: 0;
  top: -300px;
  left: 280px;
  user-select: none;
}

.curce-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px auto 0px;
  text-align: center;
  width: 246px;
  height: 46px;
  background: #ff226d;
  box-shadow: 0px 1.92598px 1.92598px rgba(0, 0, 0, 0.25);
  border-radius: 7.70392px;
  font-weight: 300;
  font-size: 25px;
  /* text-transform: uppercase; */
  line-height: 110%;
  letter-spacing: 0.035em;
  color: #ffffff;
  z-index: 2;
  cursor: pointer;
}


@media screen and (max-width: 768px) { 
  .curce-block {
    flex-wrap: wrap;
    gap: 20px;
  }

}
