:root {
  --card-height: 445px; 
}
.CurceComponent {
  height: var(--card-height);
  position: relative;
  width: 283.49px;
  background: #ffffff;
  border-radius: 7.60595px;
  z-index: 3;
}

.CurceComponent-image {
  padding-top: 33px;
  text-align: center;
}

.CurceComponent-title {
  margin-top: 34px;
  text-align: center;
  font-weight: 700;
  font-size: 19.2126px;
  line-height: 110%;
  /* or 21px */

  letter-spacing: 0.02em;
}

.CurceComponent-text {
  /* margin-top: 10px; */
  margin: 10px auto;
  width: 215.47px;
  font-weight: 600;
  font-size: 13.188px;
  line-height: 110%;
  letter-spacing: 0.04em;
}

.CurceComponent-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  /* margin: 0 auto; */
  margin: 60px auto 20px auto;
  width: 219px;
  height: 43.12px;
  font-weight: 700;
  font-size: 20.9903px;
  line-height: 110%;
  letter-spacing: 0.035em;
  color: #ff226d;
  background: #ffffff;
  border: 1px solid #ff226d;
  box-shadow: 0px 1.09272px 1.09272px rgba(0, 0, 0, 0.25);
  border-radius: 4.37088px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.CurceComponent-btn:hover {
  background: #ff226d;
  color: #ffffff;
}
.back {
  position: absolute;
  width: 283.49px;
  height: var(--card-height);
  z-index: 2;
  background: #0084ff;
  top: 10px;
  border-radius: 10px;
  /* right: -20px; */
  left: 10px;
  border: 1px solid white;
}

.CurceComponent-wrapper {
  position: relative;
}

.courses__title {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
.courses__title h1 {
  color: #fff;
  font-size: 2.6rem;
  text-transform: uppercase;
}